data.zip
data/*
!data/README.md

libs_src/src/
libs_src/mbedtls/
libs_src/build_log*.txt
libs_src/build_log.txt

tool/baseline_predictions.csv
tool/immediate_crypto_functions.json
tool/immediate_non_crypto_functions.json
tool/unrecognized_mnemonics.json
tool/vectorized_debug.log
training/immediate_crypto_functions.json
training/immediate_non_crypto_functions.json
training/unrecognized_mnemonics.json

training/ida_databases/
tool/ida_databases/

chart_*.png
mnemocrypt_comparison_report.pdf
portfolio/

training/computed_features/
tool/computed_features/

common/trained_mnemocrypt.pkl
common/weights_trained_mnemocrypt.txt

tool/mnemocrypt_predictions.csv
tool/malware*_mnemocrypt.csv

.venv/

__pycache__/
*.pyc


_unnecessary/

libs_src/*.txt

tool/fp_eval_*.csv
tool/baseline_malware_predictions.csv


docs/
results/
